.experience {
  padding-top:60px;
  background:#111827;
}

.experience .section-title {
  text-align: center;
  font-size: 60px;
  color: #38bdf8;
  margin-bottom: 40px;
}

.experience-card {
  max-width: 900px;
  margin: auto;
  background: #1e293b;
  border-radius: 20px;
  padding: 40px;
  border: 1px solid rgba(56, 189, 248, 0.15);
  transition: 0.3s;
}

.experience-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(56, 189, 248, 0.15);
}

.experience-date {
  display: inline-block;
  padding: 8px 18px;
  border-radius: 30px;
  background: rgba(56, 189, 248, 0.15);
  color: #38bdf8;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 600;
}

.experience-card h3 {
  font-size: 32px;
  margin-bottom: 0px;
}

.experience-card h4 {
  color: #94a3b8;
  font-size: 22px;
  margin-bottom: 5px;
}

.experience-card p {
  color: #cbd5e1;
  line-height: 1.8;
  font-size: 18px;
}

.experience-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 30px;
}

.experience-tags span {
  padding: 10px 18px;
  border-radius: 30px;
  background: #111827;
  border: 1px solid rgba(56, 189, 248, 0.2);
  color: #38bdf8;
  font-size: 15px;
}

.timeline{
    position:relative;
    max-width:950px;
    margin:auto;
    padding-left:50px;
}

.timeline::before{
    content:"";
    position:absolute;
    left:15px;
    top:0;
    bottom:0;
    width:3px;
    background:#38bdf8;
    opacity:.4;
}

.timeline-dot{
    position:absolute;
    left:4px;
    top:35px;
    width:24px;
    height:24px;
    border-radius:50%;
    background:#38bdf8;
    border:5px solid #0f172a;
    box-shadow:0 0 20px rgba(56,189,248,.6);
}

.experience-header{
    display:flex;
    align-items:center;
    gap:14px;
    margin:30px 0;
}


.company-logo{
    width:120px;
    height:auto;
    object-fit:contain;
    flex-shrink:0;
}
.company-logo:hover{
    transform:scale(1.05);
    box-shadow:0 0 15px rgba(56,189,248,.35);
}

.company-info h3{
    margin:0;
    font-size:40px;
    line-height:1.1;
}

.company-info h4{
    margin-top:8px;
    color:#94a3b8;
    font-size:20px;
}

.experience-links{
    display:flex;
    gap:18px;
    margin-top:28px;
}

.certificate-btn,
.company-btn{
    padding:12px 22px;
    border:2px solid #38bdf8;
    border-radius:10px;
    color:#38bdf8;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.certificate-btn:hover,
.company-btn:hover{
    background:#38bdf8;
    color:#fff;
}

.experience-points{
    margin:25px 0;
    padding-left:22px;
    color:#dbe4f0;
    line-height:2;
    font-size:18px;
}

.experience-points li{
    margin-bottom:0px;
}