.footer{
    padding:35px 8%;
    text-align:center;
    background:#111827;
}

.footer-line{
    width:120px;
    height:3px;
    background:#38bdf8;
    margin:0 auto 25px;
    border-radius:20px;
}

.footer-text{
    color:#cbd5e1;
    font-size:18px;
    margin-bottom:12px;
}

.copyright{
    color:#64748b;
    font-size:15px;
}


/* ================= TABLET ================= */

@media (max-width:768px){

  .footer{
    padding:30px 20px;
  }

  .footer-line{
    width:90px;
  }

  .footer-text{
    font-size:16px;
  }

  .copyright{
    font-size:14px;
  }

}


/* ================= MOBILE ================= */

@media (max-width:480px){

  .footer{
    padding:25px 15px;
  }

  .footer-line{
    width:70px;
    margin-bottom:20px;
  }

  .footer-text{
    font-size:15px;
    line-height:1.6;
  }

  .copyright{
    font-size:13px;
  }

}