.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #0f172a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1000;
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}






/* ================= MOBILE ================= */

@media (max-width: 768px) {

  .navbar{
    padding: 15px 20px;
    flex-direction: column;
    gap: 15px;
  }

  .logo{
    font-size: 24px;
  }

  .nav-links{
    gap: 18px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-links a{
    font-size: 16px;
  }

}



/* Hamburger Icon */

.menu-icon{
    display:none;
    color:white;
    font-size:28px;
    cursor:pointer;
}


/* Mobile */

@media (max-width:768px){

    .navbar{

        padding:18px 20px;

        flex-direction:row;

    }

    .menu-icon{

        display:block;

    }

    .nav-links{

        position:absolute;

        top:75px;

        left:0;

        width:100%;

        background:#0f172a;

        flex-direction:column;

        align-items:center;

        gap:22px;

        padding:30px 0;

        display:none;

        border-top:1px solid rgba(255,255,255,.08);

    }

    .nav-links.active{

        display:flex;

    }

}



/* Active Navbar Link */

.active-link{
    color:#38bdf8 !important;
    font-weight:600;
    position:relative;
}

.active-link::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-6px;

    width:100%;

    height:2px;

    background:#38bdf8;

}