.skills{
    padding:70px 100px;
    background:#111827;
}

.skills-grid{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;

}

.skill-card{

    background:#1e293b;
    padding:30px;
    border-radius:18px;

    display:flex;
    flex-direction:column;
    transition:.35s ease;

}

.skill-card:hover{

    transform:translateY(-10px);

    box-shadow:
        0 15px 35px rgba(56,189,248,.18);

    border:1px solid rgba(56,189,248,.3);

}

.skill-card h3{

    color:#38bdf8;
    margin-bottom:20px;
    font-size:24px;

}

.skill-card p{

    color:#d1d5db;
    margin:10px 0;
    font-size:18px;

}

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top:15px;
}

.skill-tags span {
  background: #0f172a;
  color: #d1d5db;
  padding: 10px 18px;
  border-radius: 50px;
  font-size: 15px;
  border: 1px solid #334155;
  transition:.3s;
}

.skill-tags span:hover{
    border-color:#38bdf8;
    color:#38bdf8;
    transform:translateY(-2px);
}
